{
    "contestId-lest": 1000,
    "rating-lest": 1800,
    "rating-most": 2000,
    "include-tags": ["constructive algorithms"],
    "exclude-tags": ["*special"],
    "//":["constructive algorithms", "greedy", "math", "dp"]
}
